@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

html, body, [class*="css"] {
    font-family: 'Kanit', sans-serif;
    font-size : 500;
    font-weight: 500;
    color:#61A4BC;
}
